<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>document</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> panel de usuario</h1>
        <h3>  Bienvenidos: {{user}} </h3>
        <p>fecha: {{fecha}}</p>
        <ul> 
            <li><a href="{% url 'users_apps:logout' %}">Cerra session</a></li>
            <li><a href="{% url 'users_apps:update' %}">Actualizar Datos</a></li>
        </ul>
        <script src="" async defer></script>
    </body>
</html>